body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.leaflet-container {
    width: 80%;
    max-width: 651px;
    height: 400px;
    margin: 0 auto;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    /* border: 0px; */
}

.leaflet-tooltip {
    font-weight: 600;
    white-space: unset;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.buttonContainer {
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
}

.bookButton {
    box-sizing: border-box;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px gray;
}

.bookButton:hover {
    box-shadow: 0px 0px 5px 1px gray;
}
